.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
  }
  
  .mapDiv {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background: grey;
  }
  
  .footer-content {
    background: gray;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content img {
   
    height: 70px;
    border-radius: 999px;
    border: solid yellow;
  }
  